.footer_container {
  margin-top: 2rem;
}
.footer_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #1976d2;
  height: 3rem;
  justify-items: center;
  align-items: center;
  font-weight: 800;
  color: rgb(255, 255, 255);
  /* border radius */
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.books_name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #0b5197a5;
  height: 3rem;
  justify-items: center;
  align-items: center;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
