body {
  padding: 5px;
}
.home_container {
  height: 100vh;
  width: auto;
  background-color: rgb(43, 143, 176);
}
.primary_heading {
  font-weight: 1000;
  font-size: 2em;
  text-align: center;
  background-color: #1976d2;
  color: rgb(255, 255, 255);
}
.book_menu {
  font-size: 2rem;
  padding-left: 3em;
  cursor: pointer;
  /* float: right; */
}
.track_menu {
  float: right;
  font-size: 2rem;
  padding-right: 3em;
}
.home_content {
  font-size: 10em;
  text-align: center;
  font-weight: 1000;
}
