.orders_container {
  height: 100vh;
  width: auto;
  background-color: rgb(43, 143, 176);
}

.list_item {
  background-color: rgb(14, 3, 112);
  margin: 5px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  color: white;
  line-height: 2em;
}
